:root {
    --open-sans: "Open Sans", sans-serif;
    --nunito-sans: "Nunito Sans", sans-serif;

    --accent-light: #FFC725;
    --accent-dark: #F37335;
    --dark: #443737;
    --light: #FFFFFF;
    --light-rgb: 255, 255, 255;
    --dark-rgb: 68, 55, 55;
    --line: #DEDEDE;

    --tr: .2s;
}

* {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--open-sans);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1182px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/* Header */

.header {
    border-bottom: 1px solid var(--line);
}

.header-wrapper {
    display: flex;
    align-items: center;
    gap: 56px;
    padding: 26px 0;
}

.burger-menu {
    display: none;
    width: 34px;
    height: 22px;
    background-image: url("../images/buger-menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
}

.logo {
    display: block;
    width: 176px;
    height: 56px;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.nav {
    flex-grow: 1;
    display: flex;
    gap: 47px;
    margin-left: min(10vw, 140px);
}

.modal {
    display: none;
}

.nav-link {
    display: block;
    color: var(--dark);
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: var(--accent-light);
    border-radius: 1.5px;
    transition: var(--tr);
    transform: scaleY(0);
}

.nav-link:hover::after {
    transform: scaleY(1);
}

.cart {
    display: flex;
    align-items: center;
    color: var(--dark);

    gap: 10px;
    font-size: 15px;
    font-weight: 700;
    position: relative;
}

.cart::before {
    content: "";
    display: block;
    width: 30px;
    height: 26px;
    background-image: url("../images/cart.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    font-size: 10px;
    background-color: var(--accent-dark);
    color: var(--light);
    border-radius: 100%;
    position: absolute;
    left: 17px;
    bottom: 0;
}


/* Hero */

.hero {
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 142px;
    padding-bottom: 142px;
}

.hero-contact {
    background-image: url("../images/hero-contact.jpg");
}

.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 16px;
    padding-left: 0;
    color: rgba(var(--light-rgb), .5);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.breadcrumbs-link {
    color: rgba(var(--light-rgb), .5);
    transition: var(--tr);

}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
    content: "/";
    position: absolute;
    right: -12px;
}

.breadcrumbs-link:hover {
    color: var(--accent-light);
}

.hero-title {
    font-family: var(--nunito-sans);
    color: var(--light);
    font-size: 79px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 18px;
}

.hero-description {
    max-width: 320px;
    margin: 0 auto;
    color: rgba(var(--light-rgb), .8);
    font-size: 15px;
    line-height: 160%;
}

/* Banner */

.banner {
    margin-top: 140px;
}

.banner-wrapper {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.banner-title {
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 60px;
    font-weight: 900;
    line-height: 126%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 8px;
}

.banner-title span {
    display: block;
    max-width: 95px;
    background-color: var(--accent-dark);
    font-family: var(--open-sans);
    font-size: 14px;
    font-weight: 600;
    line-height: 128%;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 14px;
    margin-bottom: 4px;
}

.banner-description {
    color: rgba(var(--light-rgb), .8);
    font-size: 15px;
    max-width: 328px;
    margin-top: 0;
    line-height: 160%;
}

.banner-btn {
    display: block;
    max-width: 170px;
    background-color: var(--accent-light);
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border: none;

    padding: 20px 0;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--tr);
    border: 1px solid transparent;
}

.banner-btn:hover {
    background-color: transparent;
    border: 1px solid var(--accent-light);
    color: var(--accent-light);
}

/* Menu */

.menu {
    margin-top: 100px;
}

.menu-wrapper {
    margin-bottom: 100px;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
}

.menu-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--nunito-sans);
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--dark);
    line-height: 127%;
}

.menu-sort {
    color: var(--dark);

    border: 1px solid var(--line);
    font-size: 15px;
    padding: 10px 62px 10px 30px;
    border-radius: 22px;
    box-sizing: border-box;
    flex-basis: 280px;
    appearance: none;
    background-image: url("../images/arrow.svg");
    background-size: 14px 10px;
    background-repeat: no-repeat;
    background-position: 89% center;
}

.menu-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px 20px;
}

.menu-item {
    font-family: var(--nunito-sans);
    text-align: center;
}

.menu-thumb {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.menu-thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.menu-name {
    font-size: 30px;
    font-weight: 600;
    line-height: 126%;
    color: var(--dark);
    margin-top: 0;
    margin-bottom: 8px;
}

.menu-price {
    font-size: 20px;
    font-weight: 700;
    color: rgba(var(--dark-rgb), .5);
    line-height: 140%;
    margin-bottom: 20px;
    margin-top: 0;
}

.menu-btn {
    color: var(--dark);
    background-color: var(--accent-light);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 128.5%;
    border: none;

    padding: 10px 30px 10px 55px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border: 1px solid transparent;
    transition: var(--tr);
}

.menu-btn::before {
    content: "";
    position: absolute;
    display: block;
    left: 30px;
    width: 18px;
    height: 18px;
    background-image: url("../images/menu-cart.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.menu-btn:hover {
    background-color: transparent;
    border: 1px solid var(--dark);
}


.menu-title.additionally {
    margin-bottom: 34px;
}


/* Footer */

.footer {
    margin-top: 140px;
    background-color: #1E2F40;
    padding-top: 110px;
    padding-bottom: 120px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}


.footer-logo {
    display: block;
    width: 64px;
    height: 56px;
    background-image: url("../images/logo-light-min.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.footer-title {
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 800;
    line-height: 190%;
    color: var(--light);
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 0;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-nav a {
    color: rgba(var(--light-rgb), .9);
    font-size: 15px;
    line-height: 160%;
    transition: var(--tr);
}

.footer-nav a:hover {
    color: var(--accent-light);
}

.footer-list {
    padding-left: 0;
    margin: 0;
    color: var(--light);
}

.footer-list li:not(:last-child) {
    margin-bottom: 12px;
}

.footer-list li {
    font-size: 15px;
    font-weight: 700;
    line-height: 160%;
}

.footer-list li span {
    display: block;
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    color: rgba(var(--light-rgb), .9);
    margin-bottom: 2px;
}

.footer-item.tel {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-basis: 194px;
    text-align: right;
}

.footer-tel {
    margin-top: 2px;
    display: block;
    color: var(--accent-light);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 800;
    line-height: 190%;
    text-transform: uppercase;
    transition: var(--tr);
}

.footer-tel._mobile {
    display: none;
}

.footer-tel:hover {
    color: var(--light);
}

/* Contact */

.contact {
    margin-top: 140px;
}

.contact-main {
    margin-bottom: 60px;
    display: flex;
    gap: 20px;
}

.contact-map {
    flex-basis: 680px;
}

.contact-adress {
    flex-basis: calc(100% - 680px - 20px);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0;
    margin: 0;
}

.contact-item {
    font-size: 15px;
    line-height: 160%;
}

.contact-item:not(:last-child) {
    margin-bottom: 30px;
}


.contact-item-country {
    display: block;
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 190%;
    text-transform: uppercase;
}

.contact-item-delivery {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    line-height: 133%;
}

.contact-additionally {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 0;
}

.contact-additionally li {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.contact-additionally li span {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 160%;
}

.contact-info,
.contact-additionally>li>span>a {
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    color: var(--dark);
}

.contact-additionally li:nth-child(1)::before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    background-image: url("../images/contact/01.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-additionally li:nth-child(2)::before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    background-image: url("../images/contact/02.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-additionally li:last-child::before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    background-image: url("../images/contact/03.svg");
    background-repeat: no-repeat;
    background-size: cover;
}


.button-up {
    background-color: var(--accent-light);
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--dark);
    transition: var(--tr);
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.button-up:hover {
    background-color: var(--dark);
    color: var(--accent-light);
}

.button-up.hidden {
    display: none;
}

.button-up.visible {
    display: visible;
}

/* Media */

@media (width <=930px) {
    .header-wrapper {
        gap: 40px;
    }

    .nav {
        margin-left: 0;
        gap: min(3vw, 50px);
    }

}

@media (width <=768px) {
    .header-wrapper {
        gap: 44px;
    }

    .logo {
        width: 150px;
        height: 47.8px;
    }

    .nav {
        gap: 22px;
    }

    .banner {
        margin-top: 72px;
    }

    .banner-wrapper {
        padding: 100px 40px;
        background-position: 20% 0;
    }

    .menu {
        margin-top: 80px;
    }

    .menu-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-box._additionally {
        grid-template-columns: 1fr;
    }

    .menu-item._additionally {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .menu-item._additionally .menu-thumb {
        width: calc(60% - 20px);
        height: 260px;
        margin-bottom: 0;
    }

    .menu-item._additionally .menu-info {
        flex-basis: 40%;
    }

    .footer {
        padding-top: 62px;
        padding-bottom: 71px;
    }

    .footer-nav {
        margin-bottom: 20px;
    }

    .footer-item.tel {
        display: none;
    }

    .footer-tel._mobile {
        display: block;
        text-align: left;
    }
}

@media (width <=720px) {
    .header-wrapper {
        gap: 21px;
        padding-top: 19px;
        padding-bottom: 19px;
    }

    .nav {
        display: none;
    }

    .nav._modal {
        display: flex;
        flex-direction: column;
    }

    .nav-link::after {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .logo {
        width: 116px;
        height: 37px;
        flex-grow: 1;
    }

    .modal {
        display: block;
        width: 100%;
        max-width: 500px;
        background-color: #FFF8DC;
        padding: 40px 15px;
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        margin: 0 auto;
        box-sizing: border-box;
        text-align: center;
        transition: var(--tr);
    }

    .modal-close {
        display: block;
        width: 22px;
        height: 22px;
        background-image: url("../images/close.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .breadcrumbs {
        font-size: 14px;
        line-height: 19px;
    }

    .hero {
        background-image: url(../images/hero.jpg);
        padding-top: 55px;
        padding-bottom: 55px;
    }

    .hero-title {
        font-size: 38px;
        line-height: 51.8px;
        margin-top: 22px;
        margin-bottom: 8px;
    }

    .hero-description {
        font-size: 12px;
        line-height: 20px;
    }

    .banner {
        margin-top: 33px;
    }

    .banner-wrapper {
        padding: 35px 15px;
        background-position: 20% 0;
    }

    .banner-title {
        margin-bottom: 10px;
    }

    .banner-description {
        font-size: 14px;
        line-height: 22.4px;
        margin-bottom: 22px;
        max-width: 222px;
    }


    .banner-btn {
        max-width: 196px;
    }

    .menu {
        margin-top: 50px;
    }

    .menu-header {
        margin-bottom: 24px;
    }

    .menu-title {
        font-size: 27px;
        line-height: 56px;
    }

    .menu-sort {
        font-size: 12px;
        line-height: 24px;
        flex-basis: 136px;
        width: 136px;
        padding: 8px 24px 8px 10px;
        background-position: 93% center;
    }

    .menu-box {
        gap: 24px 20px;
    }

    .menu-thumb {
        height: 50vw;
        margin-bottom: 7px;
    }

    .menu-name {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 0px;
    }

    .menu-price {
        font-size: 12px;
        line-height: 28px;
        margin-bottom: 7px;
    }

    .menu-btn {
        padding: 10px 16px 10px 52px;
    }

    .menu-btn::before {
        left: 28px;
    }

    .menu-wrapper {
        margin-bottom: 50px;
    }

    .menu-item._additionally .menu-thumb {
        height: 30vw;
    }

    .footer {
        margin-top: 80px;
    }

    .footer-wrapper {
        flex-direction: column;
        gap: 33px;
        position: relative;
    }

    .footer-logo {
        margin-bottom: 8px;
    }

    .footer-tel._mobile {
        position: absolute;
        top: -11px;
        right: 0;
    }

    .footer-tel._mobile+.footer-tel._mobile {
        top: 27px;
    }

    .footer-title {
        font-size: 18px;
        line-height: 38px;
    }

    .footer-nav {
        margin-bottom: 0px;
    }

}

@media (width <=450px) {
    .menu-item._additionally .menu-thumb {
        flex-basis: calc(100% - 130px - 20px);
        height: 38vw;
    }

    .menu-item._additionally .menu-info {
        flex-basis: 130px;
    }

    .banner-title {
        font-size: 48px;
        line-height: 126%;
    }

    .banner-description {
        font-size: 12px;
        line-height: 20px;
    }

    .banner-btn {
        max-width: 160px;
        padding: 16px 0;
    }

    .menu-btn {
        font-size: 12px;
        padding: 8px 12px 8px 34px;
    }

    .menu-btn::before {
        left: 12px;
        width: 17px;
        height: 17px;
    }

}